#header{
	.navbar-default{
		background-color: #fff;
		border: none;
		margin-bottom: 0;
		a.navbar-brand{
			height: 76px;
			margin-left: 82px;
		}
		li{
			display: inline-block;
    		height: 76px;
    		width: 245px;
    		a{
    			line-height: 46px;
    		}
		}
		.gray{
			background: #857e7d;
			a{
				color: #fff;
			}
		}
		.light-gray{
			background: #e1dfdf;
			a{
				color: #000;
			}
		}
		.red{
			background: #d60036;
			a{
				color: #fff;
			}
		}
	}
}
body{
	color:#fff;
	text-align: center;
	background: #000;
}
