#header .navbar-default {
  background-color: #fff;
  border: none;
  margin-bottom: 0; }
  #header .navbar-default a.navbar-brand {
    height: 76px;
    margin-left: 82px; }
  #header .navbar-default li {
    display: inline-block;
    height: 76px;
    width: 245px; }
    #header .navbar-default li a {
      line-height: 46px; }
  #header .navbar-default .gray {
    background: #857e7d; }
    #header .navbar-default .gray a {
      color: #fff; }
  #header .navbar-default .light-gray {
    background: #e1dfdf; }
    #header .navbar-default .light-gray a {
      color: #000; }
  #header .navbar-default .red {
    background: #d60036; }
    #header .navbar-default .red a {
      color: #fff; }

body {
  color: #fff;
  text-align: center;
  background: #000; }

/*# sourceMappingURL=style.css.map */
